@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-display: swap;
}

:root {
  /* Layout breakpoints */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Colors - Primary */
  --clr-primary-pale-green-200: hsl(148, 38%, 91%);
  --clr-primary-green-600: hsl(169, 82%, 27%);
  --clr-primary-red: hsl(0, 66%, 54%);

  /* Colors - Neutral */
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-grey-500: hsl(186, 15%, 59%);
  --clr-neutral-grey-900: hsl(187, 24%, 22%);

  /* Typography */
  --ff-base: "Karla", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;

  --lh-body: 1.6;
  --lh-heading: 1.2;
}

body {
  accent-color: var(--clr-primary-green-600);
  font-size: 1rem;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  line-height: var(--lh-body);
  background-color: var(--clr-primary-pale-green-200);
}

style {
  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
